.white-bg{
    background:#ffffff !important;
}

.table th {
    border-top: 0;
}

.urlBreak {
    white-space: pre-wrap!important; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap !important; /* Opera 4-6 */
    white-space: -o-pre-wrap !important; /* Opera 7 */
    word-wrap: break-word !important;
    word-break: break-all !important;
}

.page_url_th {
    width: 25% !important;
}

.link_th {
    width: 45% !important;
}

.category_th {
    width: 12% !important;
}

.link_type_th {
    width: 18% !important;
}
