.white-bg{
    background:#ffffff !important;
}

.table th {
    border-top: 0;
}

.urlBreak {
    white-space: pre-wrap!important; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap !important; /* Opera 4-6 */
    white-space: -o-pre-wrap !important; /* Opera 7 */
    word-wrap: break-word !important;
    word-break: break-all !important;
}

.page_url_td {
    width: 30% !important;
}

.link_td {
    width: 50% !important;
}

.link_type_td {
    width: 20% !important;
}